root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 240
tab_width = 4

[*.csv]
indent_style = tab

[*.proto]
indent_size = 2
tab_width = 2

[{*.bash,*.sh,*.zsh}]
indent_size = 2
tab_width = 2

[{*.go,*.go2}]
indent_style = tab

[{*.graphqlconfig,*.graphqlrc,*.har,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,jest.config}]
indent_size = 2

[{*.http,*.rest}]
indent_size = 0

[{*.pb,*.textproto}]
indent_size = 2
tab_width = 2

[{*.yaml,*.yml,pubspec.lock}]
indent_size = 2
